/* Schedule.css */

.schedule-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-height: 100vh; /* Ensure the container can fill the screen height */
  overflow-y: auto; /* Enable scrolling if content exceeds container height */
}

.schedule-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

#date-select {
  margin-left: 10px;
  padding: 5px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.schedule-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: left;
}

.schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tr:hover {
  background-color: #ddd;
}

.schedule-table-wrapper {
  overflow-x: auto;
  padding-right: 20px; /* Add padding to avoid overlap with the scrollbar */
}
