body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent page scrollbars */
}

.credit-card-transactions-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-height: 100vh; /* Make sure the container can fill the screen height */
  overflow-y: auto; /* Enable scrolling if content exceeds container height */
  height: calc(
    100vh - 40px
  ); /* Adjust the container height to fit within the viewport minus margins */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.filter-container {
  margin-bottom: 20px;
  padding-right: 20px; /* Add padding to prevent overlap with the scrollbar */
}

#employee-select {
  margin-left: 10px;
  padding: 5px;
  width: calc(100% - 20px); /* Adjust the width to account for the padding */
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: left;
  padding-right: 20px; /* Add padding to avoid overlap with the scrollbar */
}

.transactions-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactions-table tr:hover {
  background-color: #ddd;
}

.transactions-table-wrapper {
  overflow-x: auto;
  padding-right: 20px; /* Add padding to avoid overlap with the scrollbar */
}

/* Style for clickable row note */
.clickable-row-note {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #6c757d;
}
