.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2(185, 181, 181, 0.8); /* Updated with opacity */
  padding: 10px 20px;
  color: white;
  backdrop-filter: blur(
    5px
  ); /* Optional: adds a slight blur effect behind the navbar */
}

.navbar-logo a {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links li a:hover {
  color: #ddd;
}

.navbar-actions {
  display: flex;
  gap: 10px; /* Adjust the spacing between the buttons */
}

.navbar-logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-export {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-logout:hover,
.navbar-export:hover {
  background-color: #c0392b;
}
